section {
    display: flex;
  }
  
  section .weather {
    border: 8px solid white; 
    background-color: powderblue; 
    min-width: 200px;
    text-align: center;
  }
  

  
  .weather h2 {
    font-size: 1.5rem;
    color: lightgoldenrodyellow; 
  }
  

  .weather p {
    font-size: 1rem;
    color: grey; 
    margin: 0.4rem 0;
  }
  
  .weather span {
    font-weight: bold;
    color: #d78092; 
  }
  